.green {
  color: #006837;
}

#logo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0);
}
#logo #logoImg {
  position: absolute;
  left: 15vw;
  margin-top: 15px;
  width: 100px;
  height: 100px;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: no-repeat;
  background-size: contain;
  background-image: url("../assets/logo.png");
}

#toggle {
  position: fixed;
  top: 50px;
  right: 50px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 1001;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
#toggle:hover {
  opacity: 0.7;
}
#toggle span {
  background: #006837;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#toggle span:nth-of-type(2) {
  top: 11px;
}
#toggle span:nth-of-type(3) {
  top: 22px;
}
#toggle.active span {
  background-color: white;
}
#toggle.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
}
#toggle.active .middle {
  opacity: 0;
}
#toggle.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #006837;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.overlay.open {
  opacity: 1;
  width: 300px;
}
.overlay .overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
}
.overlay .overlay-content a, .overlay .overlay-content span {
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #999;
  display: block;
}
.overlay .overlay-content a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
  color: white;
}
.overlay .overlay-content span {
  color: white;
}

@media screen and (max-width: 900px) {
  #logo #logoImg {
    left: 50px;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    height: 80px;
  }
  #logo #logoImg {
    left: 30px;
    margin-top: 10px;
    width: 60px;
  }

  #toggle {
    top: 27px;
    right: 30px;
  }

  .overlay.open {
    width: 100%;
  }
  .overlay .overlay-content {
    top: 30%;
  }
  .overlay .overlay-content a, .overlay .overlay-content span {
    padding: 5px;
    font-size: 30px;
  }
}
#video_background {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

#video_pattern {
  background-image: url(../assets/video_pattern.png);
  background-repeat: repeat;
  position: fixed;
  opacity: 0.9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.abt_head {
  position: relative;
  height: 90vh;
  background: no-repeat;
  background-size: cover;
  background-image: url("../images/about-top.jpg");
  border-bottom: 1px solid #006837;
}
.abt_head .abt_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 56%;
}
.abt_head .abt_box #abt_first {
  font-weight: bold;
  line-height: 6vw;
  font-size: 6vw;
  margin-bottom: 80px;
  text-shadow: 5px 5px 5px #ccc;
}
.abt_head .abt_box #abt_second {
  border-top: 1px solid #006837;
  border-bottom: 1px solid #006837;
  padding: 10px 0;
  line-height: 1.2vw;
  font-size: 1vw;
  color: #333;
}

.abt_rest1, .abt_rest2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Times New Roman", Times, serif;
}
.abt_rest1 h2, .abt_rest2 h2 {
  margin: 0;
  font-size: 72px;
  line-height: 65px;
}

.abt_rest1 {
  padding: 100px 0;
}
.abt_rest1:first-child {
  padding-bottom: 0;
}
.abt_rest1 h2 {
  width: 40%;
  text-align: right;
  padding: 20px 20px 0 0;
  color: rgba(0, 104, 55, 0.7);
  border-right: 5px solid #006837;
  background-color: white;
  text-shadow: 5px 5px 5px #999;
  z-index: 500;
}
.abt_rest1 p {
  width: 20%;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  padding: 100px 60px 50px 140px;
  color: rgba(99, 38, 107, 0.8);
  border-bottom-right-radius: 40px;
  background-color: rgba(204, 204, 204, 0.4);
}

.abt_rest2 {
  padding: 200px 0 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006837), to(white));
  background-image: linear-gradient(to bottom, #006837, white);
}
.abt_rest2 h2 {
  padding: 20px 0;
  color: #ddd;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  text-shadow: 3px 3px 5px #333;
}
.abt_rest2 .abt_why {
  padding: 150px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.abt_rest2 .abt_why div {
  text-align: center;
  width: 25%;
}
.abt_rest2 .abt_why div h3 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  color: #006837;
  text-shadow: 1px 1px 3px #ccc;
  background-color: #ddd;
  border-radius: 5px;
}
.abt_rest2 .abt_why div p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.abt_map {
  position: relative;
  border-top: 5px solid #006837;
  border-bottom: 5px solid #006837;
  background-color: #868688;
  padding: 50px 0;
}
.abt_map img {
  width: 60%;
  margin: 0 20%;
}
.abt_map #abt_third {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 64px;
  color: #006837;
  text-shadow: 2px 2px 5px #ccc;
}

.con_head {
  position: relative;
  height: 80vh;
  background: no-repeat;
  background-size: cover;
  background-image: url("../images/contact.jpg");
  border-bottom: 1px solid white;
}
.con_head .con_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 56%;
}
.con_head .con_box #con_first {
  font-size: 6vw;
  line-height: 6vw;
  font-weight: bold;
  color: #444;
  text-shadow: 5px 5px 5px #ccc;
}

.con_form, .con_map, .adrs {
  background-color: rgba(0, 104, 55, 0.9);
}

.con_form {
  position: relative;
  width: 100%;
  height: 600px;
}
.con_form .form_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Internet Explorer 10-11 & Microsoft Edge */
}
.con_form .form_box h1 {
  color: white;
  margin: 0 0 50px;
}
.con_form .form_box input, .con_form .form_box textarea {
  display: block;
  margin: 0 0 10px;
  padding: 15px;
  color: white !important;
  border: none;
  border-radius: 5px;
  background-color: rgba(204, 204, 204, 0.2);
}
.con_form .form_box input:focus, .con_form .form_box textarea:focus {
  outline: none;
  background-color: rgba(204, 204, 204, 0.4);
}
.con_form .form_box ::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.con_form .form_box ::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.con_form .form_box :-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.con_form .form_box ::-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.con_form .form_box ::placeholder {
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.con_form .form_box :-ms-input-placeholder, .con_form .form_box ::-ms-input-placeholder {
  color: #ccc;
}
.con_form .form_box input {
  width: 40%;
}
.con_form .form_box textarea {
  width: 80%;
}
.con_form .form_box button {
  cursor: pointer;
  padding: 10px 15px;
  font-weight: bold;
  color: #006837;
  background-color: #bbb;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.con_form .form_box button:hover, .con_form .form_box button:focus {
  background-color: white;
}

.con_map {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px 0 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.con_map iframe {
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.adrs {
  padding: 100px 0;
}
.adrs p {
  width: 50%;
  margin: 0 auto 10px;
  color: white;
}

@media screen and (max-width: 900px) {
  .con_head .con_box {
    line-height: 10vw;
    font-size: 10vw;
  }
  .con_head .con_box #con_first {
    font-size: 8vw;
    line-height: 8vw;
  }

  .con_form .form_box {
    width: 70%;
  }
  .con_form .form_box input {
    width: 80%;
  }

  .adrs p {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .con_head .con_box {
    line-height: 12vw;
    font-size: 12vw;
  }
  .con_head .con_box #con_first {
    font-size: 10vw;
    line-height: 10vw;
  }

  .con_form .form_box {
    width: 70%;
  }
  .con_form .form_box input, .con_form .form_box textarea {
    width: 90%;
  }

  .adrs p {
    width: 80%;
  }
}
.csr_box {
  position: relative;
  left: 12%;
  width: 76%;
  margin: 0 0 100px;
}
.csr_box #csr_first {
  font-size: 6vw;
  line-height: 6vw;
  font-weight: bold;
  color: #444;
  text-shadow: 5px 5px 5px #ccc;
}

.csr_slider1, .csr_slider2, .csr_slider3 {
  margin-bottom: 40px !important;
}

.csr_slider {
  width: 100% !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  font-family: Times, Times New Roman, Georgia, serif;
  color: white !important;
}
.csr_slider .onSlider {
  z-index: 91;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.csr_slider .slider_text {
  z-index: 92;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  text-align: center;
}
.csr_slider .slider_text h5 {
  margin: 0 0 3vw;
  font-size: 2vw;
  font-weight: bold !important;
  text-transform: uppercase;
}
.csr_slider .slider_text p {
  margin: 0 17vw;
  font-size: 1.2vw;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .csr_box {
    margin: 0 0 130px;
  }
  .csr_box #csr_first {
    font-size: 8vw;
    line-height: 8vw;
  }

  .csr_slider .slider_text h5 {
    margin: 0 0 2vw;
    font-size: 2.5vw;
  }
  .csr_slider .slider_text p {
    margin: 0 17vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .csr_box {
    margin: 0 0 100px;
  }

  .csr_slider1 {
    margin-bottom: 35vw !important;
  }

  .csr_slider2 {
    margin-bottom: 55vw !important;
  }

  .csr_slider3 {
    margin-bottom: 55vw !important;
  }

  .csr_slider {
    overflow: visible !important;
  }
  .csr_slider .slider_text {
    top: 35%;
    -webkit-transform: unset;
            transform: unset;
  }
  .csr_slider .slider_text h5 {
    height: 17vw;
    font-size: 5vw;
  }
  .csr_slider .slider_text p {
    margin: 0 5vw;
    font-size: 4vw;
    text-align: justify;
    color: #333;
  }
}
.index_box {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-weight: bold;
}
.index_box #index_first {
  font-size: 36px;
  line-height: 34px;
}
.index_box #index_second {
  font-size: 30px;
  line-height: 28px;
  color: #006837;
  margin-bottom: 15vh;
}
.index_box .index_link a {
  font-size: 18px;
  letter-spacing: 2px;
  color: #555;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.index_box .index_link a:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  .index_box #index_first {
    font-size: 30px;
  }
  .index_box #index_second {
    font-size: 24px;
    margin-bottom: 10vh;
  }
  .index_box .index_link a {
    font-size: 15px;
  }
}
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}
section.index, section.csr {
  width: 70vw;
  margin: 200px auto 100px;
  min-height: calc(100vh - 300px);
}

.overhead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.abt_box,
.con_box,
.csr_box,
.index_box {
  font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

footer {
  position: relative;
  width: 40%;
  padding: 20px 0;
  margin: 200px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerLogo {
  width: 100px;
  height: 80px;
  margin-right: 50px;
  background: no-repeat;
  background-size: contain;
  background-image: url("../assets/logo-footer.png");
}
footer .footer_box {
  width: 100%;
}
footer .footer_box ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
footer .footer_box ul li {
  display: inline;
}
footer .footer_box ul li:last-child {
  margin-right: 0;
}
footer .footer_box ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #999;
  text-decoration: none;
}
footer .footer_box ul li a:hover {
  color: black;
}
footer .footer_box ul li span {
  color: #006837;
}
footer .footer_box ul li a, footer .footer_box ul li span {
  font-weight: bold;
}
footer .footer_box .copy {
  font-size: 12px;
  color: #777;
}

.preload_images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.preload {
  height: 1px;
  width: 1px;
}

@media screen and (max-width: 1200px) {
  footer {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  section.index, section.csr {
    width: calc(100% - 100px);
  }

  footer {
    width: calc(100% - 100px);
    margin: 200px auto 0;
  }
}
@media screen and (max-width: 600px) {
  section.index, section.csr {
    width: calc(100% - 60px);
    margin: 150px auto 50px;
    min-height: calc(100vh - 200px);
  }

  footer {
    display: none;
  }
}