.csr_slider { 
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width:100%;
	max-height:auto;
	margin:0px auto 0px;
	z-index:90;
	border:none;
	text-align:left; /* reset align=center */
	font-size: 10px;
}
* html .csr_slider{ width:100% }
.csr_slider .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
.csr_slider .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

.csr_slider .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-height:auto;
	overflow:hidden;
}
.csr_slider .ws_images a{
	width:100%;
	height:100%;
	max-height:auto;
	display:block;
	color:transparent;
}
.csr_slider img{
	max-width: none !important;
}
.csr_slider .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
