.version.index {
    color: #0000F5;
    background-color: #F11FAB;
}

// #page {
//     z-index: 1;
//     width: 960px;
//     min-height: 560px;
//     background-image: none;
//     border-width: 0px;
//     border-color: #000000;
//     background-color: transparent;
//     margin-left: auto;
//     margin-right: auto;
// }
//
// #u2340 {
//     z-index: 42;
//     width: 111px;
//     height: 118px;
//     border-width: 0px;
//     border-color: transparent;
//     background-color: transparent;
//     max-width: 100000px;
//     position: fixed;
//     top: 11px;
//     left: 50%;
//     margin-left: -561px;
// }
#ppu2904 {
    z-index: 0;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 109px;
    margin-left: -4px;
}

#pu2904 {
    z-index: 33;
    width: 0.01px;
    margin-left: 435px;
}

#u2904 {
    z-index: 33;
    width: 240px;
    height: 66px;
    position: relative;
    margin-right: -10000px;
    margin-top: 7px;
    left: 264px;
}

#u3650 {
    z-index: 43;
    width: 200px;
    min-height: 66px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 33px;
}

#u4002 {
    z-index: 48;
    width: 200px;
    min-height: 66px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#pbuttonu2891 {
    z-index: 2;
    width: 0.01px;
    margin-top: -6px;
}

#buttonu2891 {
    z-index: 2;
    width: 265px;
    height: 372px;
    padding-bottom: 51px;
    position: relative;
    margin-right: -10000px;
    margin-top: 16px;
    left: 699px;
}

#buttonu2891.ButtonSelected {
    width: 265px;
    height: 372px;
    min-height: 0px;
    margin: 16px -10000px 0px 0px;
}

#pbuttonu2900 {
    z-index: 3;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 94px;
    margin-left: 65px;
}

#buttonu2900 {
    z-index: 3;
    width: 155px;
    height: 233px;
    padding-bottom: 20px;
    position: relative;
    margin-right: -10000px;
}

#buttonu2900:hover {
    width: 155px;
    height: 233px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#buttonu2900.ButtonSelected {
    width: 155px;
    height: 233px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
}

#pu2901-4 {
    z-index: 4;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 17px;
}

#u2901-4 {
    z-index: 4;
    width: 119px;
    min-height: 23px;
    margin-left: 17px;
    position: relative;
}

#buttonu2900:hover #u2901-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 0px 0px 0px 17px;
}

#buttonu2900.ButtonSelected #u2901-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 0px 0px 0px 17px;
}

#buttonu2894 {
    z-index: 18;
    width: 153px;
    height: 29px;
    padding-bottom: 4px;
    margin-top: 16px;
    position: relative;
}

#buttonu2894:hover {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 16px 0px 0px;
}

#buttonu2894.ButtonSelected {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 16px 0px 0px;
}

#u2895-4 {
    z-index: 19;
    width: 119px;
    min-height: 23px;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    left: 17px;
}

#buttonu2894:hover #u2895-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#buttonu2896 {
    z-index: 13;
    width: 153px;
    height: 29px;
    padding-bottom: 4px;
    margin-top: 15px;
    position: relative;
}

#buttonu2896:hover {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 15px 0px 0px;
}

#u2897-4 {
    z-index: 14;
    width: 119px;
    min-height: 23px;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    left: 17px;
}

#buttonu2894.ButtonSelected #u2895-4,
#buttonu2896:hover #u2897-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#buttonu4132 {
    z-index: 8;
    width: 153px;
    height: 29px;
    padding-bottom: 4px;
    margin-top: 15px;
    position: relative;
}

#buttonu2896.ButtonSelected,
#buttonu4132:hover {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 15px 0px 0px;
}

#buttonu4132.ButtonSelected {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 15px 0px 0px;
}

#u4133-4 {
    z-index: 9;
    width: 119px;
    min-height: 23px;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    left: 17px;
}

#buttonu2896.ButtonSelected #u2897-4,
#buttonu4132:hover #u4133-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#buttonu2945 {
    z-index: 23;
    width: 153px;
    height: 29px;
    padding-bottom: 4px;
    margin-top: 14px;
    position: relative;
}

#buttonu2945:hover {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 14px 0px 0px;
}

#buttonu2945.ButtonSelected {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 14px 0px 0px;
}

#u2946-4 {
    z-index: 24;
    width: 119px;
    min-height: 23px;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    left: 17px;
}

#buttonu4132.ButtonSelected #u4133-4,
#buttonu2945:hover #u2946-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#buttonu2951 {
    z-index: 28;
    width: 153px;
    height: 29px;
    padding-bottom: 4px;
    position: relative;
    margin-right: -10000px;
    margin-top: 245px;
    left: 6px;
}

#buttonu2951:hover {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 245px -10000px 0px 0px;
}

#buttonu2951.ButtonSelected {
    width: 153px;
    height: 29px;
    min-height: 0px;
    margin: 245px -10000px 0px 0px;
}

#u2952-4 {
    z-index: 29;
    width: 119px;
    min-height: 23px;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    left: 17px;
}

#buttonu2945.ButtonSelected #u2946-4,
#buttonu2951:hover #u2952-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#buttonu2951.ButtonSelected #u2952-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 119px;
    margin: 5px -10000px 0px 0px;
}

#u116-4 {
    z-index: 34;
    width: 1041px;
    min-height: 82px;
    background-color: transparent;
    font-size: 30px;
    color: #006837;
    line-height: 36px;
    font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 258px;
}

#u126 {
    z-index: 39;
    width: 217px;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 428px;
    left: 393px;
}

#u126_states {
    float: left;
    width: 217px;
    height: 24px;
    background: transparent url("../images/u126_states.png?crc=3805562270") no-repeat 0px 0px;
}

#u126:hover #u126_states {
    background: transparent url("../images/u126_states-r.png?crc=3976096633") no-repeat 0px 0px;
}

#u126:active #u126_states {
    background: transparent url("../images/u126_states-m.png?crc=3879197415") no-repeat 0px 0px;
}

#u3661-4 {
    z-index: 44;
    width: 441px;
    min-height: 54px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 212px;
}

#u6438 {
    z-index: 49;
    width: 100px;
    height: 25px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    position: relative;
    margin-right: -10000px;
    left: 252px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 669px);
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 960px;
    padding-bottom: 17px;
}