.abt_head {
    position: relative; 
    height: 90vh;
    background: no-repeat;
    background-size: cover;
    background-image: url('../images/about-top.jpg');
    border-bottom: 1px solid $nav-green;
    .abt_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 56%;
        #abt_first {
            font-weight: bold;
            line-height: 6vw;
            font-size: 6vw;
            margin-bottom: 80px;
            text-shadow: 5px 5px 5px #ccc;
        }
        #abt_second {
            border-top: 1px solid $nav-green;
            border-bottom: 1px solid $nav-green;
            padding: 10px 0;
            line-height: 1.2vw;
            font-size: 1vw;
            color: #333;
        }
    }
}
.abt_rest1, .abt_rest2 {
    display: flex;
    font-family:'Times New Roman', Times, serif;
    h2 {
        margin: 0;
        font-size: 72px;
        line-height: 65px;
    }
}
.abt_rest1 {
    padding: 100px 0;
    &:first-child {padding-bottom: 0;}
    h2 {
        width: 40%;
        text-align: right;
        padding: 20px 20px 0 0;
        color: rgba($nav-green, 0.7);
        border-right: 5px solid $nav-green;
        background-color: white;
        text-shadow: 5px 5px 5px #999;
        z-index: 500;
    }
    p {
        width: 20%;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        padding: 100px 60px 50px 140px;
        color: rgba(99, 38, 107, 0.8);
        border-bottom-right-radius: 40px;
        background-color: rgba(#ccc, 0.4);
    }
}
.abt_rest2 {
    padding: 200px 0 100px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, $nav-green, white);
    h2 {
        padding: 20px 0;
        color: #ddd;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        text-shadow: 3px 3px 5px #333;
    }
    .abt_why {
        padding: 150px 100px;
        display: flex;
        justify-content: space-evenly;
        div {
            text-align: center;
            width: 25%;
            // background-color: saddlebrown;
            h3 {
                font-size: 28px;
                margin: 0;
                padding: 10px 0;
                color: $nav-green;
                text-shadow: 1px 1px 3px #ccc;
                background-color: #ddd;
                border-radius: 5px;
                // border-top: 1px solid #777;
                // border-bottom: 1px solid #777;
            }
            p {
                font-family:'Times New Roman', Times, serif;
                font-size: 20px;
                line-height: 20px;
                text-align: justify;
                color: rgba(black, 0.6);
                padding: 10px;
            }
        }
    }
}
.abt_map {
    position: relative;
    border-top: 5px solid $nav-green;
    border-bottom: 5px solid $nav-green;
    background-color: #868688;
    padding: 50px 0;
    img {width: 60%; margin: 0 20%;}
    #abt_third {
        font-family:'Times New Roman', Times, serif;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 64px;
        color: $nav-green;
        text-shadow: 2px 2px 5px #ccc;
    }
}
@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 600px) {
    
}
