.csr_box {
    position: relative;
    left: 12%;
    width: 76%;
    margin: 0 0 100px;
    font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
    font-weight: bold;
    line-height: 6vw;
    // background-color: cornflowerblue;

    #csr_first {
        color: #444;
        font-size: 6vw;
        text-shadow: 5px 5px 5px #ccc;
    }
}
.csr_slider {
    width: 100% !important;
    margin-bottom: 40px !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    font-family: Times, Times New Roman, Georgia, serif;
    font-size: 38px !important;
    color: white;
    
    .onSlider {
        z-index: 91;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            // background-color: rgba(15, 140, 113, 0.5);
            text-align: center;
            h5 {
                margin: 0 0 4vw;
                font-size: 2vw;
                font-weight: bold !important;
                text-transform: uppercase;
            }
            p {
                margin: 0 17vw;
                text-align: justify;
                font-size: 1.2vw;
            }
        }
    }
}



.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}



@media screen and (max-width: 900px) {
    .csr_box {
        margin: 100px 0;
    }
    .csr_slider {
        .onSlider {
            div {
                h5 {
                    margin: 0 0 4vw;
                    font-size: 3vw;
                }
                p {
                    margin: 0 17vw;
                    font-size: 2vw;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .csr_box {
        margin: 50px 0 60px;
    }
    .csr_slider {
        .onSlider {
            div {
                h5 {
                    margin: 0 0 4vw;
                    font-size: 3vw;
                }
                p {
                    margin: 0 17vw;
                    font-size: 2vw;
                }
            }
        }
    }
}
