body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 70vw;
    min-height: calc(100vh - 200px);
    padding: 200px 0 0;
    margin: 0 auto;
    // background-color: salmon;
}

footer {
    position: relative;
    width: 60%;
    padding: 20px 0;
    margin: 350px auto 0;
    display: flex; 
    justify-content: space-between;

    .footerLogo {
        width: 100px;
        height: 80px;
        margin-right: 50px;
        background: no-repeat;
        background-size: contain;
        background-image: url('../assets/logo.png');
    }   

    // background-color: khaki;
    // .footer_box {background-color: lightcoral;}
    // .copy {background-color: lightslategray;}
    // ul {background-color: lightgreen;}
    // ul li {background-color: maroon;}

    .footer_box {
        width:100%;
        color: #777;
        
        ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            li {
                display: inline;
                &:last-child {margin-right: 0;}
                a {
                    transition: 0.5s;
                    color: #777;
                    text-decoration: none;
                    &:hover {color: black;}
                }
                span {color: $nav-green;}
                a, span {font-weight: bold;}
            }
        }
        .copy {font-size: 12px;}
    }
}

@media screen and (max-width: 1200px) {
    footer {width: 80%;}
}

@media screen and (max-width: 900px) {
    section {
        width: calc(100% - 100px);
        min-height: calc(100vh - 200px);
        padding: 100px 0 0;
    }
    footer {
        width: 100%;
        margin: 200px auto 0;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: calc(100% - 60px);
        padding: 100px 0;
    }
    footer {display: none;}
}
